:root {
    --primary-color: black;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px white;
    /* rgba(0, 0, 0, 0.3); */
}

body {
    margin: 60px auto;
}

h1,
h2,
h3 {
    text-align: center;
    margin: 0;
    padding: 1px;
    padding-top: 50px;
    font-family: "Kaushan Script", cursive;
    font-family: "Montserrat", sans-serif;
    font-family: "Playfair Display", serif;
}

h1 {
    font-size: 96px;

}

h4 {
    font-size: 48px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
    opacity: 0.7;
}

p {
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.navigation-links a,
.primary-link {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.contact-link,
.primary-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
}

.about-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
}

.about-paragraphs {
    display: flex;
    margin-top: 20px;
}

.email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
}

.button {
    background: transparent;
    border: none;
    color: #000;
    font-weight: 250;
    margin: 0 auto;
    padding-left: 600px;
}

.button,
.button:active,
.button:focus {
    outline: none;
}

.myprojects {
    padding: 25px;
    font-weight: 35px;
}

.end_document {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 50px;
}

div.main {
    font-size: calc(16px + 1.2vw);
    position: relative;
    animation: showLeft 1s;
    z-index: 1;
    padding-top: 30px;
}

@keyframes showLeft {
    from {
        left: -100%;
    }

    to {
        left: 0;
    }
}

@keyframes showRight {
    from {
        right: -100%;
    }

    to {
        right: 0;
    }
}

.mypr {
    display: flex;
    padding: 80px;
    padding-top: 50px;
}

.onecol {
    transition: transform .15s;
}

.onecol:hover {
    transform: scale(1.05);
    background: rgba(0, 0, 0, 0);
    z-index: 1;
    transition: transform .5s;
    border-radius: 10px;
}

.btn-light {
    background: var(--primary-color);
    border-radius: 4px;
    color: white;
    border-color: var(--primary-color);
    font-size: 20px;
    line-height: 30px;
    padding: 15px 60px;

}

.mb-4 {
    text-align: center;
}

.about-section h2 {
    font-size: 64px;
}

.about-section {
    padding-top: 55px;
}

.content-container h3,
h2 {
    padding: 0;
}

footer .email-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
    text-align: center;
}

footer .contact-box p {
    margin: 0;
}

footer .email-link:hover {
    color: var(--primary-color);
}

footer {
    margin: 60px 0;
}

footer .social-links a {
    margin: 0 20px;
    color: #000;
    background: var(--secondary-color);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
    color: wheat;
    background: var(--primary-color);
}

footer .contact-box {
    background: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 10px;
}

@media (max-width:900px) {
    h4 {
        font-size: 24px;
    }

    footer .contact-box {
        padding: 30px;
    }
    
.mypr {
    display: flex;
    padding: 80px;
    padding-top: 50px;
}

.onecol {
    transition: transform .15s;
}

.onecol:hover {
    transform: scale(1.05);
    background: rgba(0, 0, 0, 0);
    z-index: 1;
    transition: transform .5s;
    border-radius: 10px;
}

.btn-light {
    background: var(--primary-color);
    border-radius: 4px;
    color: white;
    border-color: var(--primary-color);
    font-size: 20px;
    line-height: 30px;
    padding: 15px 60px;

}

.mb-4 {
    text-align: center;
}

.about-section h2 {
    font-size: 64px;
}

.about-section {
    padding-top: 55px;
}
}

.open-source {
    margin: 0;
}